<%- include('../../partial/adminheader') %>
<%- include('../../partial/adminnavbar') %>
<%- include('../../partial/adminsidebar') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="box box-warning col-md-8">
      <div class="box-header with-border">
        <h3 class="box-title">ແກ້ໄຂປະເພດຂ່າວ</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <form role="form" action="/admin/category" method="POST">
          <!-- text input -->
          <div class="form-group">
            <label>Title:</label>
            <input type="text" name="title" class="form-control" value="<%= category.title %>" placeholder="Enter ...">
          </div>
          <!-- textarea -->
          <div class="form-group">
            <label>Description:</label>
            <textarea class="form-control" name="desc" rows="3" placeholder="Enter ..."><%= category.desc %></textarea>
          </div>

          <a href="/admin/category" type="button" class="btn pull-left btn-warning">Back</a>
          <button type="submit" class="btn pull-right btn-primary">Update</button>
        </form>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>

<%- include('../../partial/adminfooter') %>
